<section id="content">

    <div ng-controller="CarouselDemoCtrl" class="homeSliderMarginstyle">
        <div>
            <uib-carousel hide-indicators="true" active="active" interval="myInterval" no-wrap="noWrapSlides">
                <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                    <img ng-src="{{slide.image}}" class="img-carousel-a">
                </uib-slide>
            </uib-carousel>
        </div>
        <!--/#main-slider-->
    </div>
    
    <div class="container containerHome">
        <div class=" imagenCasa containerLeft"><img class="img-responsive" src="images/casa.png" alt="casa"></div>
        <div class=" texto containerRight textBox">
            <h2>¿Qué es un Avalúo?</h2>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to
                using 'Content here, content here', making it look like readable English. Many desktop publishing packages
                and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will
                uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by
                accident, sometimes on purpose (injected humour and the like).
                <p>
        </div>
    </div>
</section>