<section id="content">
    <div class="container containerQuienesSomos">
        <div class="imgLider"><img class="img-responsive" src="images/img2.png" alt="Líder en valuación"></div>
        <div class="container boxQuienes">
            <div class="texto containerLeft textBox">
                <h2>Corporativo Naufal Avalúos</h2>
                <p>
                    Corporativo Naufal Avalúos, es una empresa 100% mexicana, en la cual nos dedicamos a la valuación de inmuebles, maquinaria
                    y equipo, equipo de transporte, instrumentos musicales, obras de arte y otros. Contando con profesionales
                    altamente capacitados en diversas áreas, dando servicio de valuación desde el año de 1984.
                    <p>
            </div>
            <div class="imagenSaludo containerRight"><img class="img-responsive" src="images/manos.jpg" alt="Saludo"></div>
        </div>
        <div class=" container boxQuienes ">
            <div class="texto containerRight textBox">
                <h2>Misión</h2>
                <p>
                    Es importante informar que se realizan los avalúos con las normas de calidad y establecidas por los colegios profesionales
                    y organismos gubernamentales a precios competitivos.
                    <p>
            </div>
            <div class="texto containerLeft  textBox">
                <h2>Visión</h2>
                <p>
                    Ser la empresa líder en el mercado en los diversos rubros.
                    <p>
            </div>
        </div>
    </div>
</section>