<section id="content">
    <div class="container">
        <div class=" texto">
            <h2>Nuestros servicios de avalúos</h2>
            <p>
                <ul>
                    <li> Avalúos para compra venta.</li>
                    <li>Avalúos para seguros o fianzas</li>
                    <li>Avalúos para arrendamiento.</li>
                    <li>Avalúos para negocios en marcha.</li>
                    <li>Avalúos para activos fijos.</li>
                    <li>Inventarios y plaqueos de activo fijo.</li>
                    <li>Avalúos para juicios civiles y mercantiles.</li>
                    <li>Avalúos catastrales y traslación de dominio de inmuebles.</li>
                    <li>Avalúos para adjudicación de bienes.</li>
                    <li>Avalúos para trámites ante el SAT.</li>
                    <li>Avalúos para testamentos e intestados.</li>
                </ul>
                <p>
        </div>
    </div>
</section>