/*************************
*******Typography******
**************************/

/*************************
*******General******
**************************/
html{
    height: 100%;
    margin: 0;
    padding: 0;
    }

#wrapper {
   min-height: 100%;
   position:relative;
   font-family:  'Arial';
}

body{  
    height: 100%;
}

#content {
  width: 70%;  
  -moz-border-radius: 5px;
  border-radius: 5px;  
}


.img-responsive{
  width: 100%;  
}

/*Remove dotted line when clik something*/
a{
outline: medium none !important;
}

/*************************
*******Header******
**************************/

.navbar {

-moz-border-radius: 5px;
border-radius: 5px;
}

/*************************
*******Home Page******
**************************/

.imagenCasa{
  right: 0;
  max-width: 400px; 
  
}

.textoHome{
  font-size: 15px;
  text-align: justify;
}



/*************************
********* Projects CSS ******
**************************/


/*************************
********* Contact CSS ******
**************************/



/***********************
********* Footer ******
************************/
#footer {    
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #777777;
  background: #f8f8f8;
  width: 70%;
  position: absolute;
  left: 15%;  
  bottom: 0px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:solid 1px;
  border-color:#e7e7e7;
  
}

#footer a {
  color: #777777;
}

#footer a:hover {
  color: #333333;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul > li {
  display: inline-block;
  margin-left: 10px;
}





