
.nav li { text-align: center; } 

/*************************
*******Typography******
**************************/

/*************************
*******General******
**************************/
.img-responsive{
  width: 100%;  
}

/*************************
*******Header******
**************************/


.navbar {

-moz-border-radius: 15px;
border-radius: 15px;
}

/*************************
*******Home Page******
**************************/



/*************************
********* Projects CSS ******
**************************/


/*************************
********* Contact CSS ******
**************************/



/***********************
********* Footer ******
************************/






