/*************************
*******Typography******
**************************/
h1 h2 h3 h4 h5 h6 p {
  color: #333333;
}

#wrapper {  
   font-family:  'Arial';   
   font-size: 17px;
       
}

.texto{
  font-size: 17px;
  text-align: justify;
}
/*************************
*******General******
**************************/
html{
    height: 100%;
    margin: 0;
    padding: 0;
    }

#wrapper {
   min-height: 100%;
   position:relative;   
}

body{  
    height: 100%;
}

#content {
  -moz-border-radius: 5px;
  border-radius: 5px;  
}


.img-responsive{
  width: 100%; 
  -moz-border-radius: 5px;
  border-radius: 5px;   
}

/*Remove dotted line when clik something*/
a{
outline: medium none !important;
}


/*************************
*******Header******
**************************/

.navbar {
-moz-border-radius: 5px;
border-radius: 5px;
}

.isActive{
  background-color: black;
  color:red;
}

/*************************
*******Home Page******
**************************/

.imagenCasa{
  max-width: 600px; 
  
}

.img-carousel-a{
    margin:auto; 
    width: 100%; 	
    max-height:350px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
}

.textBox{
  padding: 10px;
  width: 100%;  
  min-height: 300px;
  background-color:#fff;
  border-width:1px;
  border-style:solid;
  border-bottom-color:#aaa;
  border-right-color:#aaa;
  border-top-color:#ddd;
  border-left-color:#ddd;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px; 
}

.carousel-control.left{
  -moz-border-radius: 5px;
  border-radius: 5px;  
}

.carousel-control.right{
  -moz-border-radius: 5px;
  border-radius: 5px;  
}


/*************************
********* Quienes Somos ******
**************************/


/*************************
********* Contact CSS ******
**************************/

.btn-default {   
    color:#777777;   
}


.btn-default:hover {    
    background-color: #f8f8f8; 
    color:#777777;   
}

/***********************
********* Footer ******
************************/
#footer {    
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #777777;
  background: #f8f8f8;
  width: 70%;
  position: absolute;
  left: 15%;  
  bottom: 0px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:solid 1px;
  border-color:#e7e7e7;
  
}

#footer a {
  color: #777777;
}

#footer a:hover {
  color: #333333;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul > li {
  display: inline-block;
  margin-left: 10px;
}





