/*************************
******* lg ******
**************************/
@media (min-width: 1200px) {

/*******Header********/
header{
  width: 70%;
  margin:auto;
  padding-top:15px; 
}

.logo{
  float:left;
  width: 35%;
}
.navMenu{
  float:right;
  width: 65%;
  margin-top:8%; 
  padding-left:15px; 
}

/*******Contacto********/
#contact{
   width:40%;
   margin:auto; 
   padding-top:150px;
}

}

/*************************
******* md ******
**************************/
@media (min-width: 992px) and (max-width: 1199px) {
  
  /*******Header********/
  header{
  width: 70%;
  margin:auto;
  padding-top:15px; 
}

.logo{
  float:left;
  width: 35%;
}
.navMenu{
  float:right;
  width: 65%;  
  margin-top:8%; 
  padding-left:15px; 
}

/*******Contacto********/
#contact{
   padding-top:100px;
   width:60%;
   margin:auto; 
}

}


/*************************
******* sm ******
**************************/
@media (min-width: 768px) and (max-width: 991px) {
  
  /*******Header********/
  header{
  width: 85%;
  margin:auto;
  padding-top:15px; 
}

.logo{
  float:left;
  width: 35%;
}
.navMenu{
  float:right;
  width: 65%;
  margin-top:6%; 
  padding-left:15px;  
}

/*******Contacto********/
#contact{
   padding-top:70px;
   width:40%;
   margin:auto; 
}
 
 
}

/*************************
******* xs ******
**************************/
@media (max-width: 767px) {
  
  /*******Header********/ 
   header{
  width: 70%;
  margin:auto;
  padding-top:15px; 
}   

.logoEmbebed{ 
  margin-top:10px;
  width: 60%;
}

/*******Contacto********/
#contact{
   width:80%;
   margin:auto; 
}

}

/*************************
******* XS Portrait ******
**************************/
@media (max-width: 480px) {
  
  /*******Header********/
     header{
  width: 90%;
  margin:auto;
  padding-top:15px; 
}  

/*******Contacto********/
 #contact{
   width:100%;
   margin:auto; 
}



}



