/*************************
******* lg ******
**************************/
@media (min-width: 1200px) {

/*******Header********/
header{
  width: 70%;
  margin:auto;
  padding-top:15px; 
}

.logo{
  float:left;
  width: 35%;
}
.navMenu{
  float:right;
  width: 65%;
  margin-top:8%; 
  padding-left:15px; 
}

/*******General********/
.containerLeft{
  float:left;
  width:48%;
  margin-right:5px;
}

.containerRight{
  float:right;
  width:48%;
  margin-right:5px;
}


/*******Home********/
#content{
  padding-bottom: 150px ;
  margin:50px auto 0px auto;     
  padding-top: 150px ; 
}

.containerHome{
  width:70%;
}

/*******Quienes somos********/
.containerQuienesSomos{
  width:70%;
}

.boxQuienes{
  padding-bottom: 85px;
   width:100%;
}

.imgLider{
  padding-bottom: 100px;
}

/*******Contacto********/
#contact{
   width:40%;
   margin:auto; 
   padding-top:150px;
}

}

/*************************
******* md ******
**************************/
@media (min-width: 992px) and (max-width: 1199px) {
  
  /*******Header********/
  header{
  width: 70%;
  margin:auto;
  padding-top:15px; 
}

.logo{
  float:left;
  width: 35%;
}
.navMenu{
  float:right;
  width: 65%;  
  margin-top:8%; 
  padding-left:15px; 
}

/*******General********/
.containerLeft{
  float:left;
  width:48%;
  margin-right:5px;
}

.containerRight{
  float:right;
  width:48%;
  margin-right:5px;
}

/*******Home********/
#content{
  padding-bottom: 150px ;
  margin:50px auto 0px auto;     
  padding-top: 150px ; 
}

.containerHome{
  width:70%;
}

/*******Quienes somos********/
.containerQuienesSomos{
  width:70%;
}

.boxQuienes{
  padding-bottom: 85px;
   width:100%;
}

.imgLider{
  padding-bottom: 100px;
}

/*******Contacto********/
#contact{  
   padding-top:100px;
   width:60%;
   margin:auto; 
}

}


/*************************
******* sm ******
**************************/
@media (min-width: 768px) and (max-width: 991px) {
  
  /*******Header********/
  header{
  width: 85%;
  margin:auto;
  padding-top:15px; 
}

.logo{
  float:left;
  width: 35%;
}
.navMenu{
  float:right;
  width: 65%;
  margin-top:6%; 
  padding-left:15px;  
}

/*******General********/
.containerLeft{
  float:left;
  width:48%;
  margin-right:5px;
}

.containerRight{
  float:right;
  width:48%;
  margin-right:5px;
}

/*******Home********/
#content{
  padding-bottom: 150px ;
  margin:50px auto 0px auto;     
  padding-top: 150px ; 
}

.containerHome{
  width:85%;
}

/*******Quienes somos********/
.containerQuienesSomos{
  width:70%;
}

.boxQuienes{
  padding-bottom: 85px;
   width:100%;
}

.imgLider{
  padding-bottom: 100px;
}

/*******Contacto********/
#contact{
  
   padding-top:70px;
   width:40%;
   margin:auto; 
}
 
 
}

/*************************
******* xs ******
**************************/
@media (max-width: 767px) {
  
  /*******Header********/ 
   header{
  width: 70%;
  margin:auto;
  padding-top:15px; 
}   

.logoEmbebed{ 
  margin-top:10px;
  width: 60%;
}

/*******General********/
.containerLeft{
  width:90%;
  margin: auto;
}

.containerRight{
  width:90%;
  margin: auto;
}

/*******Home********/
#content{
  padding-bottom: 150px ;
  margin:50px auto 0px auto;     
  padding-top: 20px ; 
}

.containerHome{
  width:70%;
}


/*******Quienes somos********/
.containerQuienesSomos{
  width:90%;
}

.boxQuienes{
  padding-bottom: 25px;
   width:100%;
}

.imgLider{
  padding-bottom: 20px;
}

/*******Contacto********/
#contact{
   width:80%;
   margin:auto; 
}

}

/*************************
******* XS Portrait ******
**************************/
@media (max-width: 480px) {
  
  /*******Header********/
     header{
  width: 90%;
  margin:auto;
  padding-top:15px; 
}  

/*******General********/
.containerLeft{
  width:90%;
  margin: auto;
}

.containerRight{
  width:90%;
  margin: auto;
}

.texto{
  font-size: 15px;
  text-align: justify;
}

/*******Home********/
#content{
  padding-bottom: 150px ;
  margin:0px auto 0px auto;
}

.containerHome{
  width:90%;
}

.imagenCasa{  
  width:90%;
  margin: auto;
}

.textoHome{
  width:90%;
  margin: auto;
}

/*******Quienes somos********/
.containerQuienesSomos{
  width:90%;
}

.boxQuienes{
  padding-bottom: 25px;
   width:100%;
}

.imgLider{
  padding-bottom: 20px;
}

/*******Contacto********/
 #contact{
   width:100%;
   margin:auto; 
}

}



