<!-- Footer -->
<footer id="footer">
    <div>
        <div class="row">
            <div class="col-sm-6">
                &copy; Corporativo Naufal. All rights reserved.
            </div>
            <div class="col-sm-6">
                <ul>
                    <li><a href="/#!/">Inicio</a></li>
                    <li><a href="/#!/quienesSomos">Quiénes somos</a></li>
                    <li><a href="/#!/servicios">Servicios</a></li>
                    <li><a href="/#!/contacto">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
<footer>
<!--/#footer-->
