<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="DR">
    <title>
        <%= title %>
    </title>

    <!-- core CSS -->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">
        <div ng-include="'example/views/templates/header.client.view.html'"> </div>


        <section ng-view></section>

    
        <script type="text/javascript" src="/lib/angular/angular.js"></script>
        <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="/lib/angular-animate/angular-animate.js"></script>
        <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="/application.js"></script>


        <script type="text/javascript" src="/example/example.client.module.js"></script>
        <script type="text/javascript" src="/example/controllers/home.client.controller.js"></script> 
        <script type="text/javascript" src="/example/controllers/contacto.client.controller.js"></script> 
        <script type="text/javascript" src="/example/config/example.client.routes.js"></script>

        <div ng-include="'example/views/templates/footer.client.view.html'"> </div>

    </div>
    <!--/#Wrapper-->
</body>

</html>